<ion-view >
 <ion-nav-title>DIS 2017</ion-nav-title>
  <content has-header="true" padding="true">


     <h3 class="txtcenter" style="margin-top:20%;"><span class="undline">Login</span></h3>



          <div class="loginbox">
             <h5 class="txtcenter">Please login with your registered email id</h5>
          <form name="nlogin" ng-submit="loginaction(loginData)">
            <div class="list">
              <label class="item item-input">
                
                <input type="email" name="username" placeholder="Email" ng-model="loginData.username" required="">

              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="loginData.password" name="password" required="">
              </label>
              
                <button type="submit" class="button button-block button-balanced brd-r0" ng-disabled="nlogin.$invalid">Log in</button>
             
            </div>
          </form>

          <h5 class=" txtcenter fblack">New User? <a href="#/app/register">Register now</a></h5>

         <p class="fred" ng-if="loginerror">Your email address or password is incorrect please check and try again </p>

          </div>

          

 
        </content>


</ion-view>
